* {
  background-color:beige;
}

body {
  font-family: 'Merriweather', serif;
}

h1 {
  text-align: center;
  color:black;
}
a{
  display: flex;
<<<<<<< HEAD
  
  width: 40vmin;
  height: 40vmin;
}


#one, #five, #twentyfive, #hundred{
  width: 10vmin;
  margin: 10vmin;
}

=======
  width: 30vmin;
  height: 30vmin;
}


#one, #five, #twentyfive, #hundred{
  width: 10vmin;
  margin: 10vmin;
}

>>>>>>> main
#deal, #hit, #stand{
  width: 25vmin;
  margin: 10vmin;
}

<<<<<<< HEAD

#computer, #player {

}
=======
>>>>>>> main
